<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/sshbaidu"/>
    <property name="username" value="root"/>
    <property name="password" value="zgwbgh959"/>
</bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>com/luyao/pojo/Filesort.hbm.xml</value>
                <value>com/luyao/pojo/Filetbl.hbm.xml</value>
                <value>com/luyao/pojo/Netuser.hbm.xml</value>
                <value>com/luyao/pojo/Srcfile.hbm.xml</value>
                <value>com/luyao/pojo/Folder.hbm.xml</value>
            </list>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.luyao.pojo.Filesort</value>
                <value>com.luyao.pojo.Filetbl</value>
                <value>com.luyao.pojo.Netuser</value>
                <value>com.luyao.pojo.Srcfile</value>
                <value>com.luyao.pojo.Folder</value>
            </list>
        </property>
    </bean>

    <!--DAO-->
    <bean id="userDao" class="com.luyao.dao.UserDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="fileDao" class="com.luyao.dao.FileDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="selectDao" class="com.luyao.dao.SelectDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="folderDao" class="com.luyao.dao.FolderDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--Service-->
    <bean id="userService" class="com.luyao.service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="folderService" class="com.luyao.service.FolderService">
        <property name="folderDao" ref="folderDao"/>
        <property name="fileDao" ref="fileDao"/>
    </bean>


</beans>